{% extends "statsgetter/main.html" %}
{% block content %}
<section class="jumbotron text-center">
  <div class="container">
    <h1>Youtube Analyzer</h1>
    <p class="lead text-muted">チャンネル名を入力して、統計データを得よう！</p>
    <form class="mt-2 mt-md-0 text-center" method="POST">
      {% csrf_token %}
      <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2" type="submit">Search</button>
    </form>
  </div>
</section>

<main role="main" class="flex-shrink-0">
  <div class="container">
    <p>チャンネル名：{{ channel_stats.title }}</p>
    <p>id：{{ channel_stats.id }}</p>
    <p>登録日：{{ channel_stats.registered_date }}</p>
    <p>チャンネル登録者数：{{ channel_stats.subscriberCount }}</p>
    <p>総視聴回数：{{ channel_stats.viewCount }}</p>
    <p>総動画数：{{ channel_stats.videoCount }}</p>
  </div>
</main>
{% endblock content %}
