{% extends "statsgetter/main.html" %}
{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">料金</h1>
  <p class="lead">*現在検討中です</p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal"></h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">￥- <small class="text-muted">/ 月</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary" id="payment-btn">支払い画面へ</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal"></h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">￥- <small class="text-muted">/ 月</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary" id="payment-btn">支払い画面へ</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal"></h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">￥- <small class="text-muted">/ 月</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary" id="payment-btn">支払い画面へ</button>
      </div>
    </div>
  </div>
  <div class="text-center">
    <p>今は無料でお使い頂けます</p>
  </div>
</div>

<script type='text/javascript'>
  console.log('success')
  <!-- // Get Stripe publishable key -->
  fetch("/config/")
  .then((result) => { return result.json(); })
  .then((data) => {
    <!-- // Initialize Stripe.js -->
    const stripe = Stripe(data.publicKey);

    <!-- // Event handler -->
    document.getElementById("payment-btn").addEventListener("click", () => {
    <!-- // Get Checkout Session ID -->
    fetch("/create-checkout-session/")
    .then((result) => { return result.json(); })
    .then((data) => {
      console.log(data);
      <!-- // Redirect to Stripe Checkout -->
      return stripe.redirectToCheckout({sessionId: data.sessionId})
    })
    .then((res) => {
      console.log(res);
    });
  });
});
</script>
{% endblock content %}
